[submodule "models/deep_sort_pytorch"]
	path = models/deep_sort_pytorch
	url = https://github.com/nprithviraj24/deep_sort_pytorch.git
[submodule "reinforcement-learning"]
	path = reinforcement-learning
	url = https://github.com/nprithviraj24/reinforcement-learning
[submodule "models/face-hallucination"]
	path = models/face-hallucination
	url = https://github.com/nprithviraj24/face-hallucination
[submodule "models/DeepSORT"]
	path = models/DeepSORT
	url = https://github.com/nprithviraj24/deep_sort_pytorch
